.card {
    position: relative;
}

.card img {
    width: 100%;
    display: block;
    border: .05px solid white;
    box-shadow: 2px 2px 5px var(--emerald, 0.5);
    border-radius: 5px;
}

/* front of card */
.card
.front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}

.flipped
.front {
    transform: rotateY(0deg);
    transition-delay: 0.2s
}

/* Back of card */
.card
.back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s
}

.flipped
.back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}